#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

#card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  border: 1px solid red;
  padding: 20px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}


.container>select{
  height: 40px;
  width: 250px;
  font-size: 16px;
}

#card>input{
  height: 45px;
  width: 250px;
  border: 1px solid black;
  border-radius: 12px;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
}

#card>button{
  height: 45px;
  width: fit-content;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #9b4b4b;
  color: white;
  font-weight: 600;
}

#resume{
  display: flex;
  align-items: center;
  justify-content: right;
}

#resume button{
  height: 45px;
  width: fit-content;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
}